body {
     font-family: "Didact Gothic", sans-serif;
}
.udacity {
     width: 20%;

}
.jumbotron {  background-color: #ffb366;
}

 .about {
     text-align: center;
     justify-content: center;
	
	 
}
 .shrooms {
     max-height: 100%;
     max-width: 100%;
	 justify-content: center;
	
		
}

 .pixel, 
 .animal {
     max-width: 100%;
     max-height: 100%;
     padding: 0;
	 display: block;
     justify-content: center;
	 
     
}
 .tubismo {
     max-width: 70%;
     max-height: 70%;
     display: block;
	 margin: 0 auto;
	 
     
}


 .no1, 
 .no2, 
 .no3 {
   
	 justify-content: center;

}
 .footer {
     text-align: center;
}
 .fa {
     padding: 10px;
     font-size: 30px;
     width: 30px;
     text-align: center;
     text-decoration: none;
}
 .fa-facebook {
     background: #3B5998;
     color: white;
}
 .fa-linkedin {
     background: #007bb5;
     color: white;
}
 .fa:hover {
     opacity: 0.7;
}

 @media screen and (max-width:768px) {
     .content {
		 flex-direction: column;
	   }
	  .no1,
	  .no2,
	  .no3 { flex:0 0 auto;}
 }
  @media screen and (min-width:769px) {
	 
	 .no1 { order: 1;
		}
	 .no2 { order: 3;}
	 .no3 { order: 2;
	 }
 }
 @media screen and (min-width:992px) {
	 .content { width: 990px;
	 margin: 10px auto;
	 }

 